* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}

.categories {
  background-color:black;
  width: 32%;
  position: absolute;
  height: 100%;
  overflow: hidden;
}


.category{
  width: 303px;
  height: 78px;
  /* background: url("../images/v18_216.png"); */
  background-color: red;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 1000;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_216 {
  width: 303px;
  height: 78px;
  background: url("../images/v18_216.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_87 {
  width: 303px;
  height: 78px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_152 {
  width: 20px;
  height: 17px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 121px;
}

.gaming{
  width: 149px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 19px;
  left: 15px;
  font-family: Inknut Antiqua;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.v18_152 {
  width: 20px;
  height: 17px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 121px;
}
.category-text {
  width: 149px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 19px;
  left: 15px;
  font-family: Inknut Antiqua;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}