* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}

.logout-btn {
  width: 194px;
  height: 49px;
  background: rgba(236,34,31,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 12px;
  overflow: hidden;
}
.logout-btn-text {
  width: 48px;
  color: rgba(253,232,231,1);
  position: absolute;
  top: 15px;
  left: 75px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
