* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v17_74 {
  width: 916px;
  height: 498px;
  background: url("../images/v17_74.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_63 {
  width: 916px;
  height: 498px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v18_64 {
  width: 908px;
  height: 81px;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 4px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  overflow: hidden;
}
.v18_66 {
  width: 838px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 132px;
  left: 41px;
  font-family: Inknut Antiqua;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v18_67 {
  width: 414px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 41px;
  font-family: Inknut Antiqua;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
