<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error - Page Not Found</title>
    <link rel="stylesheet" href="../static/error.css">
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>

    <header>
        <div class="logo">Forum</div>
        <div class="hamburger-menu">
          <div class="hamburger-icon">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </header>

    <div class="error-container">
        <h1>{{.ErrCode}}</h1>
        <p>Oops! {{.Msg}}</p>
        <button onclick="location='/'" class="home-link">Return to Homepage</button>
    </div>
</body>
</html>
