<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Forum</title>
        <link rel="stylesheet" href="/static/styles.css" />
        <link rel="stylesheet" href="/static/landingPage.css" />
        <header>
            <div class="logo">Forum</div>
            <button class="auth-btn" onclick="location.href='/login'">Login</button>
            <button class="auth-btn register" onclick="location.href='/register'">Register</button>
        </header>


        <div class="filters">
            <button class="filter-btn active" data-filter="all">All Posts</button>
            <button class="filter-btn" data-filter="created">My Posts</button>
            <button class="filter-btn" data-filter="liked">Liked Posts</button>
            <select id="category-filter">
                <option value="all">All Categories</option>
                <option value="tech">Technology</option>
                <option value="health">Health</option>
                <option value="sports">Sports</option>
            </select>
        </div>

        <!-- Discuss With Us Button -->
        <button class="discuss-btn" onclick="location.href='/register'">Discuss With Us</button>
        <main class="posts-container">
        </main>

    <script src="/web/scripts/script.js"></script>
        
        </div>
    </body>
</html>
